In [1]:
import numpy as np
import pandas as pd

In [2]:
top = pd.read_csv('text/top50.csv', encoding='ISO-8859-1')

In [4]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

## unikalios reiksmes

In [8]:
# unikalios stulpelio reiksmes
top['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

In [9]:
# unikaliu reiksmiu kiekis
len(top['Genre'].unique())

21

In [10]:
# pandas metodas
top['Genre'].nunique()

21

In [11]:
# unikaliu reiksmiu sarasas su kiekiu
top['Genre'].value_counts()

dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: Genre, dtype: int64

## apply() metodas

In [12]:
top['Length.'].sum()

10048

In [13]:
# funkcija, kuri sekundes grazins kaip minutes ir sekundes
def minutes_seconds(s):
    minutes = s // 60
    seconds = s % 60
    if len(str(seconds)) < 2:
        return f'{minutes}:0{seconds}'
    return f'{minutes}:{seconds}'

In [19]:
def min_sec(seconds):
    minutes = seconds // 60
    seconds = seconds % 60
    return f'{minutes:02d}:{seconds:02d}'

In [14]:
# pvz kaip veikia
minutes_seconds(110)

'1:50'

In [20]:
min_sec(110)

'01:50'

In [21]:
# pirmu penkiu dainu trukme minutemis ir sekundemis
top['Length.'].apply(minutes_seconds).head()

0    3:11
1    5:02
2    3:06
3    3:18
4    2:55
Name: Length., dtype: object

In [23]:
top['Length.'].apply(min_sec).head()

0    03:11
1    05:02
2    03:06
3    03:18
4    02:55
Name: Length., dtype: object

In [24]:
# sukuriamas naujas stulpelis panaudojant funkcija
top['Length.Pretty'] = top['Length.'].apply(min_sec)

In [25]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,03:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,05:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,03:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,02:55

In [28]:
# lambda
# is simtabales i suapvalinta desimtbale
top['Energy'].apply(lambda x: round(x/10, 1)).head()

0    5.5
1    8.1
2    8.0
3    6.5
4    6.5
Name: Energy, dtype: float64

## naudingos funkcijos

In [27]:
# grazina stulpeliu sarasa
top.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

In [29]:
# informacija apie indeksa
top.index

RangeIndex(start=0, stop=50, step=1)

In [30]:
# grazina tuple (eilutes, stulpeliai)
top.shape

(50, 15)

In [31]:
# rusiuoja pagal nurodyta stulpeli
top.sort_values('Track.Name').head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,02:56
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,02:59
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,02:42
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,03:38

In [32]:
# grazina True kur yra tuscios reiksmes
top.isnull().head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Duomenu nuskaitymas / irasymas

### CVS

In [57]:
duomenys = pd.read_csv('text/example.csv')
duomenys.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

In [58]:
# failo sukurimas
# index=False -> nesudubliuotu indekso stulpeliu
duomenys.to_csv('text/result.csv', index=False)

### XLS

In [22]:
# Pandas gali nuskaityti ekselio failus, tačiau tik duomenis.
# Įvairios funkcijos, formulės, macros pandoms nepavaldžios
# pip install xlrd

In [41]:
duomenys_xls = pd.read_excel('text/example.xls', sheet_name='example')
duomenys_xls.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

In [43]:
# failu irasymas
# NEVEIKIA
duomenys_xls.to_excel('text/result.xls', sheet_name='Sheet1')

C:\Users\zyman\AppData\Local\Temp\ipykernel_8160\3908372020.py:3: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  duomenys_xls.to_excel('text/result.xls', sheet_name='Sheet1')

### HTML

In [46]:
duomenys_html = pd.read_html('https://lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')

In [51]:
type(duomenys_html)

list

In [52]:
type(duomenys_html[0])

pandas.core.frame.DataFrame

In [66]:
savivaldos = duomenys_html[9]
savivaldos.head()

                Seniūnija    Plotas  Gyventojai (2020 m.) [3]
0    Antakalnio seniūnija  77,2 km²                     40637
1  Fabijoniškių seniūnija   4,1 km²                     38237
2     Grigiškių seniūnija   7,1 km²                     11466
3   Justiniškių seniūnija  2,98 km²                     26818
4  Karoliniškių seniūnija   4,0 km²                     25532

In [72]:
savivaldos.sort_values(savivaldos.columns[2], ascending=False, inplace=True)

In [73]:
savivaldos.shape

(22, 3)

In [75]:
savivaldos['id'] = range(1, 23)
savivaldos.set_index('id')

                       Seniūnija     Plotas  Gyventojai (2020 m.) [3]
id
1               Verkių seniūnija  55,65 km²                     50688
2              Žirmūnų seniūnija    8,5 km²                     44079
3           Pašilaičių seniūnija    8,2 km²                     40823
4           Antakalnio seniūnija   77,2 km²                     40637
5    Naujosios Vilnios seniūnija   39,3 km²                     38571
6         Fabijoniškių seniūnija    4,1 km²                     38237
7              Lazdynų seniūnija   10,3 km²                     32325
8         Naujamiesčio seniūnija    4,8 km²                     32280
9           Naujininkų seniūnija   41,1 km²                     31568
10            Šeškinės seniūnija    4,4 km²                     29885
11            Pilaitės seniūnija   13,8 km²                     27725
12         Justiniškių seniūnija   2,98 km²                     26818
13        Karoliniškių seniūnija    4,0 km²                     25532
14         Senamiesčio seniūnija    4,5 km²                     22000
15           Vilkpėdės seniūnija   10,3 km²                     19720
16           Šnipiškių seniūnija   3,12 km²                     15603
17         Viršuliškių seniūnija    2,5 km²                     14153
18             Žvėryno seniūnija    2,7 km²                     13620
19                Rasų seniūnija   12,7 km²                     11592
20           Grigiškių seniūnija    7,1 km²                     11466
21             Panerių seniūnija  84,94 km²                     10367
22  Nedeklaravę gyvenamos vietos        NaN                      8936

### SQL

In [85]:
from sqlalchemy import create_engine

In [62]:
engine = create_engine('sqlite:///duomenys.db')

In [80]:
# kintamasis duomenys yra is csv failos, ikeliama i sql
savivaldos.to_sql('savivaldos_surusiuota', con=engine, index=False)

22

In [86]:
# per nauja sqlalchemy versija, reikia zemesnes
duomenys_sql = pd.read_sql('savivaldos_surusiuota', con=engine)
duomenys_sql.head()

AttributeError: 'OptionEngine' object has no attribute 'execute'