## map()

In [1]:
sarasas = [4, 3, 2, 1]
sarasas

[4, 3, 2, 1]

In [2]:
sarasas_kvadratu = []
for skaicius in sarasas:
    sarasas_kvadratu.append(skaicius ** 2)

sarasas_kvadratu

[16, 9, 4, 1]

In [3]:
def kvardatu(skaicius):
    return skaicius ** 2

kvardatu = map(kvardatu, sarasas)
list(kvardatu)

[16, 9, 4, 1]

In [5]:
lamb_kvadratu = map(lambda skaicius: skaicius ** 2, sarasas)
list(lamb_kvadratu)

[16, 9, 4, 1]

In [6]:
data = '2023-02-01'
data

'2023-02-01'

In [7]:
metai, menuo, diena = map(int, data.split('-'))
print(metai, menuo, diena)

2023 2 1

In [10]:
from datetime import date

data = '2023-01-31'
metai, menuo, diena = map(int, data.split('-'))
tikra_data = date(metai, menuo, diena)
tikra_data

datetime.date(2023, 1, 31)

## filter()

In [11]:
sarasas

[4, 3, 2, 1]

In [13]:
def daugiau_nei_du(sarasas):
    sarasas_2 = []
    for skaicius in sarasas:
        if skaicius > 2:
            sarasas_2.append(skaicius)
    return sarasas_2

daugiau_nei_du(sarasas)

[4, 3]

In [14]:
daugiau_du = filter(lambda skaicius: skaicius > 2, sarasas)
list(daugiau_du)

[4, 3]

In [17]:
aibe = list(range(-10, 20))
aibe

[-10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [18]:
lyginiai = filter(lambda skaicius: skaicius % 2 == 0, aibe)
list(lyginiai)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
import calendar

metai = list(range(2000, 2050))
keliamieji = list(filter(calendar.isleap, metai))

keliamieji

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048]

## reduce()

In [23]:
from functools import reduce

In [24]:
sarasas

[4, 3, 2, 1]

In [33]:
suma = reduce(lambda pirmas, antras: pirmas + antras, sarasas + [5, 6])
suma

21

In [31]:
daugyba = reduce(lambda pirmas, antras: pirmas * antras, sarasas + [5, 6])
daugyba

720

## sum() / max() / min()

In [34]:
sarasas

[4, 3, 2, 1]

In [35]:
sum(sarasas)

10

In [36]:
min(sarasas)

1

In [37]:
max(sarasas)

4

## mean() / median()

In [45]:
from statistics import mean, median

In [48]:
mean(sarasas + [2, 2, 15, 17, 16])
# vidurkis

6.888888888888889

In [49]:
median(sarasas + [2, 2, 15, 17, 16])
# centrinis skaicius

3

## LIST COMPREHENSION

In [50]:
sarasas

[4, 3, 2, 1]

In [51]:
sarasas_kvardatu = [skaicius**2 for skaicius in sarasas]
sarasas_kvadratu

[16, 9, 4, 1]

In [52]:
sarasas_virs_2 = [skaicius for skaicius in sarasas if skaicius > 2]
sarasas_virs_2

[4, 3]

In [60]:
lyginiai = [skaicius for skaicius in sarasas if skaicius % 2 == 0]
lyginiai
# greiciausias variantas, bet vienkartinis

[4, 2]

In [59]:
lyginiai_generatorius =(skaicius for skaicius in sarasas if skaicius % 2 == 0)
list(lyginiai_generatorius)
# generatorius letesnis nei tiesiogiai listas

[4, 2]

In [55]:
def tik_lyginiai(sarasas):
    lyginiai = []
    for skaicius in sarasas:
        if skaicius % 2 == 0:
            lyginiai.append(skaicius)
    return lyginiai

tik_lyginiai(sarasas)
# galima issikviesti kur norim

[4, 2]

In [57]:
daugyba = [skaicius ** 2 for skaicius in sarasas]
daugyba

[16, 9, 4, 1]

In [61]:
misinys = [77, 67, 48, 'Labas', True, False, [1, 2, 3], {'kibiras': 'be rankenos'}, 'vakaras', 12.5, 17, 2.5]
misinys

[77,
 67,
 48,
 'Labas',
 True,
 False,
 [1, 2, 3],
 {'kibiras': 'be rankenos'},
 'vakaras',
 12.5,
 17,
 2.5]

In [62]:
kiek_int = sum(type(elementas) is int for elementas in misinys)
kiek_int

4

In [65]:
kiek_float = sum(type(elementas) is float for elementas in misinys)
kiek_float

2

In [63]:
kiek_str = sum(type(elementas) is str for elementas in misinys)
kiek_str

2

In [69]:
kiek_bool = sum(type(elementas) is bool for elementas in misinys)
kiek_bool

2

In [70]:
def kiek_tipu(tipas, sarasas):
    return sum(type(elementas) is tipas for elementas in sarasas)

kiek_tipu(int, misinys)

4

## sort() / sorted()

In [74]:
netvarkingas_sarasas = [1, -8, 6, -4, 2, 6, 7, 12, 0, -4, -8, 5]

In [75]:
netvarkingas_sarasas.sort()
netvarkingas_sarasas
# rusiuoja tam paciam kintamajam

[-8, -8, -4, -4, 0, 1, 2, 5, 6, 6, 7, 12]

In [76]:
netvarkingas_sarasas.sort(reverse=True)
netvarkingas_sarasas

[12, 7, 6, 6, 5, 2, 1, 0, -4, -4, -8, -8]

In [77]:
surusiuotas = sorted(netvarkingas_sarasas, reverse=True)
surusiuotas
# rusiuoja naujame kintamajame

[12, 7, 6, 6, 5, 2, 1, 0, -4, -4, -8, -8]

In [83]:
surusiuotas_absoliutus = sorted(netvarkingas_sarasas, key=abs)
surusiuotas_absoliutus

[0, 1, 2, -4, -4, 5, 6, 6, 7, -8, -8, 12]

In [90]:
from random import randrange
betkas = [randrange(-99, 100) for _ in range(10)]
betkas.sort()
betkas

[-22, 3, 15, 40, 48, 86, 88, 93, 94, 95]

In [80]:
tuple_sarasas = (1, -8, 6, -4, 2, 6, 7, 12, 0, -4, -8, 5)

surusiuotas_tuple = sorted(tuple_sarasas, reverse=True)
surusiuotas_tuple

[12, 7, 6, 6, 5, 2, 1, 0, -4, -4, -8, -8]

In [81]:
zodynas = {'vardas': 'daiva', 'pavarde': 'reinike', 'amzius': 35}

In [96]:
surusiuotas_zodynas = sorted(zodynas)
surusiuotas_zodynas

['amzius', 'pavarde', 'vardas']

In [97]:
surusiuoti_reiksme = sorted(str(reiksmes) for reiksmes in zodynas.values())
surusiuoti_reiksme

['35', 'daiva', 'reinike']

## class sort values

In [125]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, atlyginimas):
        self.vardas = vardas
        self.pavarde = pavarde
        self.atlyginimas = atlyginimas

    def __repr__(self) -> str:
        return (f'({self.vardas}, {self.pavarde}, {self.atlyginimas})')

d1 = Darbuotojas('Tomas', 'Antanauskas', 1500)
d2 = Darbuotojas('Petras', 'Tomulis', 2000)
d3 = Darbuotojas('Jonas', 'Petrulis', 1000)
darbuotoju_sarasas = [d1, d2, d3]

In [126]:
def rusiavimas(objektas):
    return objektas.vardas

surusiuotas = sorted(darbuotoju_sarasas, key=rusiavimas)
surusiuotas

[(Jonas, Petrulis, 1000), (Petras, Tomulis, 2000), (Tomas, Antanauskas, 1500)]

In [127]:
surusiuotas = sorted(darbuotoju_sarasas, key=lambda e: e.atlyginimas, reverse=True)
surusiuotas

[(Petras, Tomulis, 2000), (Tomas, Antanauskas, 1500), (Jonas, Petrulis, 1000)]

In [128]:
from operator import attrgetter
surusiuotas = sorted(darbuotoju_sarasas, key=attrgetter('pavarde'))
surusiuotas

[(Tomas, Antanauskas, 1500), (Jonas, Petrulis, 1000), (Petras, Tomulis, 2000)]

In [134]:
# galima papildyti duomenimis
class Gyvunas:
    def __init__(self, vardas):
        self.vardas = vardas

    def __repr__(self) -> str:
        return (f'({self.vardas})')

darbuotojai_eksperimentas = [d1, d2, d3, 'Anatanas', 555, Gyvunas('Murzius')]

def rusiavimas_pagal_varda(obj):
    if hasattr(obj, 'vardas'):
        return obj.vardas
    else:
        return str(obj)

darbuotojai_pagal_varda = sorted(darbuotojai_eksperimentas, key=rusiavimas_pagal_varda)
darbuotojai_pagal_varda

[555,
 'Anatanas',
 (Jonas, Petrulis, 1000),
 (Murzius),
 (Petras, Tomulis, 2000),
 (Tomas, Antanauskas, 1500)]