### Sukurti programą, kuri: prie kiekvieno sakinio "The Zen of Python" žodžio pridėtų šauktuką ir atspausdintų naują sakinį.

In [31]:
# Sukurti programą, kuri:
# Prie kiekvieno sakinio "The Zen of Python" žodžio pridėtų šauktuką ir atspausdintų naują sakinį.

tekstas = 'The Zen of Python'

naujas = map(lambda x: x + '!', tekstas.split(' '))
sujungta = ' '.join(naujas)
sujungta

'The! Zen! of! Python!'

In [5]:
# Sukurti programą, kuri:
#     Sukurtų sąrašą iš skaičių nuo 0 iki 50
#     Padaugintų visus sąrašo skaičius iš 10 ir atspausdintų
#     Atrinktų iš sąrašo skaičius, kurie dalinasi iš 7 ir atspausdintų
#     Pakeltų visus sąrašo skaičius kvadratu ir atspausdintų. Šį sąrašą (list masyvą) priskirti naujam kintamajam.
#     Su kvadratų sąrašu (nauju kintamuoju) atliktų šiuos veiksmus: atspausdintų sumą, mažiausią ir didžiausią skaičių, vidurkį, medianą
#     Surūšiuotų ir atspausdintų kvadratų sąrašą atbulai

# Patarimai:
#     Naudoti map, filter arba comprehension, sum, min, max, mean, median, %
#     from statistics import mean, median

In [6]:
sarasas = list(range(0, 50))
sarasas

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [7]:
padaugintas = map(lambda x: x*10, sarasas)
list(padaugintas)

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490]

In [8]:
septyni = filter(lambda x: x % 7 == 0, sarasas)
list(septyni)

[0, 7, 14, 21, 28, 35, 42, 49]

In [9]:
naujas_sarasas = []
kvardatu = list(map(lambda x: x ** 2, sarasas))
list(kvardatu)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401]

In [10]:
sum(kvardatu)

40425

In [11]:
min(kvardatu)

0

In [12]:
max(kvardatu)

2401

In [13]:
from statistics import mean, median

In [14]:
mean(kvardatu)

808.5

In [15]:
median(kvardatu)

600.5

In [16]:
kvardatu.sort(reverse=True)
kvardatu

[2401,
 2304,
 2209,
 2116,
 2025,
 1936,
 1849,
 1764,
 1681,
 1600,
 1521,
 1444,
 1369,
 1296,
 1225,
 1156,
 1089,
 1024,
 961,
 900,
 841,
 784,
 729,
 676,
 625,
 576,
 529,
 484,
 441,
 400,
 361,
 324,
 289,
 256,
 225,
 196,
 169,
 144,
 121,
 100,
 81,
 64,
 49,
 36,
 25,
 16,
 9,
 4,
 1,
 0]

In [17]:
# Duotas sąrašas: sarasas = [2.5, 2, "Labas", True, 5, 7, 8, 2.8, "Vakaras"]

# Sukurti programą, kuri:
#     Paskaičiuotų ir atspausdintų visų sąrašo skaičių sumą
#     Sudėtų ir atspausdintų visus sąrašo žodžius
#     Suskaičiuotų ir atspausdintų, kiek sąraše yra loginių (boolean) kintamųjų su True reikšme

# Patarimai:
#     Naudoti filter arba comprehension, sum, " ".join()

In [18]:
sarasas = [2.5, 2, "Labas", True, 5, 7, 8, 2.8, "Vakaras"]

In [19]:
skaiciu_suma = sum(x for x in sarasas if type(x) is int or type(x) is float)
skaiciu_suma

27.3

In [20]:
zodziai = [x for x in sarasas if type(x) is str]
sakinys = ' '.join(zodziai)
sakinys

'Labas Vakaras'

In [21]:
bool_true = sum(x for x in sarasas if type(x) is bool and x == True)
bool_true

1

In [22]:
# Sukurti programą, kuri:
#     Turėtų klasę Zmogus, su savybėmis vardas ir amzius
#     Klasėje būtų repr metodas, kuris atvaizduotų vardą ir amžių
#     Inicijuoti kelis Zmogus objektus su vardais ir amžiais
#     Įdėti sukurtus Zmogus objektus į naują sąrašą
#     Surūšiuotų ir atspausdintų sąrašo objektus pagal vardą ir pagal amžių (ir atbulai)

# Patarimai:
#     Naudoti sorted, attrgetter, reverse, funkciją repr
#     from operator import attrgetter

In [23]:
class Zmogus:
    def __init__(self, vardas, amzius):
        self.vardas = vardas
        self.amzius = amzius

    def __repr__(self) -> str:
        return f'{self.vardas}, {self.amzius}'

pirmas = Zmogus('Petras', 40)
antras = Zmogus('Jonas', 36)
trecias = Zmogus('Birute', 38)
ketvirtas = Zmogus('Morta', 44)

sarasas = [pirmas, antras, trecias, ketvirtas]

In [24]:
from operator import attrgetter

In [25]:
pagal_varda = sorted(sarasas, key=attrgetter('vardas'))
pagal_varda

[Birute, 38, Jonas, 36, Morta, 44, Petras, 40]

In [26]:
pagal_varda = sorted(sarasas, key=attrgetter('vardas'), reverse=True)
pagal_varda

[Petras, 40, Morta, 44, Jonas, 36, Birute, 38]

In [27]:
pagal_amziu = sorted(sarasas, key=attrgetter('amzius'))
pagal_amziu

[Jonas, 36, Birute, 38, Petras, 40, Morta, 44]

In [28]:
pagal_amziu = sorted(sarasas, key=attrgetter('amzius'), reverse=True)
pagal_amziu

[Morta, 44, Petras, 40, Birute, 38, Jonas, 36]